<div class="col mb-5">
  <div class="card h-100">
    <!-- Sale badge-->
    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    <!-- Product image-->
    <%= image_tag(item.image) %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= link_to "#{item.name}", admin_item_path(item.id) %></h5>
        <!-- Product reviews-->
        <div class="d-flex justify-content-center small text-warning mb-2">
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
        </div>
        <!-- Product price-->
        <%= number_to_currency(item.price,locale:'jp') %>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <%= link_to "編集", edit_admin_item_path(item.id),class: "btn btn-outline-primary"%>
        <%= link_to "削除", admin_item_path(item.id), class:"btn btn-outline-danger", data: {turbo_method: :delete,turbo_confirm: "投稿を削除します。よろしいですか？"} %>
      </div>
    </div>
  </div>
</div>
