<div class="container">
  <main>
    <div class="row g-5 mt-3">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill"><%= cart_item_size %></span>
        </h4>
        <ul class="list-group mb-3">
          <% @items.each do |item| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0"><%= item.item.name %></h6>
                <small class="text-body-secondary"><%= item.item.describe %></small>
              </div>
              <h6 class="my-0">個数:<%= item.quantity %></h6>
              <span class="text-body-secondary"><%= number_to_currency(item_price_total(item),locale:'jp') %></span>
              <%= link_to cart_path(item.id), data: {"turbo-method": :delete }, class: "btn btn-outline-danger" do %>
                <i class="bi-trash"></i>
              <% end %>
            </li>
          <% end %>
          <li class="list-group-item d-flex justify-content-between">
            <% if @discount %>
              <div>
                <h6 class="my-0">Total</h6>
                <div>割引前：<span class="text-muted text-decoration-line-through"><%= number_to_currency(cart_price_total,locale:'jp') %></span></div>
              </div>
              <span class="text-danger">-<%= number_to_currency(@discount.discount,locale:'jp') %></span>
              <strong><%= number_to_currency(price_dicounted,locale:'jp') %></strong>
            <% else %>
              <span>Total</span>
              <strong><%= number_to_currency(cart_price_total,locale:'jp') %></strong>
            <% end %>
          </li>
        </ul>
        <% if @discount %>
          <%= form_with model:@promo_code,url:promo_codes_cancel_path do |f|%>
            <form class="card p-2">
              <div class="input-group">
                <%= f.submit 'プロモーションコードをキャンセル',class:'btn btn-secondary'  %>
              </div>
            </form>
          <% end %>
        <% else %>
          <%= form_with model:@promo_code,url:promo_codes_discount_path do |f|%>
            <form class="card p-2">
              <div class="input-group">
                <%= f.text_field :code, placeholder:'プロモーションコード',class:'form-control'  %>
                <%= f.submit '適用',class:'btn btn-secondary'  %>
              </div>
            </form>
          <% end %>
        <% end %>
      </div>
      <!-- Billing address -->
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <%= form_with model:@order do |f| %>
          <div class="row g-3">
            <div class="col-sm-6">
              <%= f.label :last_name,"名字",class:"form-label" %>
              <%= f.text_field :last_name,class:"form-control",placeholder:"名字" %>
            </div>
            <div class="col-sm-6">
              <%= f.label :first_name,"名前",class:"form-label" %>
              <%= f.text_field :first_name,class:"form-control",placeholder:"名前" %>
            </div>
            <div class="col-12">
              <%= f.label :username,"ユーザーネーム",class:"form-label" %>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <%= f.text_field :username,class:"form-control",placeholder:"ユーザーネーム" %>
              </div>
            </div>
            <div class="col-12">
              <%= f.label :email,"メールアドレス",class:"form-label" %>
              <%= f.email_field :email,class:"form-control",placeholder:"you@sample.com" %>
            </div>
            <div class="col-md-5">
              <%= f.label :country,"国",class:"form-label" %>
              <%= f.text_field :country,class:"form-control",placeholder:"日本" %>
            </div>
            <div class="col-md-4">
              <%= f.label :prefecture,"都道府県",class:"form-label" %>
              <%= f.text_field :prefecture,class:"form-control",placeholder:"東京" %>
            </div>
            <div class="col-md-3">
              <%= f.label :zip_code,"Zip",class:"form-label" %>
              <%= f.text_field :zip_code,class:"form-control",placeholder:"Zip" %>
            </div>
            <div class="col-12">
              <%= f.label :address1,"市町村",class:"form-label" %>
              <%= f.text_field :address1,class:"form-control",placeholder:"市町村" %>
            </div>
            <div class="col-12">
              <%= f.label :address2,"番地",class:"form-label" %>
              <%= f.text_field :address2,class:"form-control",placeholder:"番地" %>
            </div>
          </div>
          <hr class="my-4">
          <h4 class="mb-3">Credit card</h4>
          <div class="row gy-3">
            <div class="col-md-6">
              <%= f.label :name_on_card,"カード名義人",class:"form-label" %>
              <%= f.text_field :name_on_card,class:"form-control",placeholder:"カード名義人" %>
              <small class="text-body-secondary">カード記載の氏名</small>
            </div>
            <div class="col-md-6">
              <%= f.label :credit_card_number,"カード番号",class:"form-label" %>
              <%= f.text_field :credit_card_number,class:"form-control",placeholder:"カード番号" %>
            </div>
            <div class="col-md-3">
              <%= f.label :credit_card_expiration,"有効期限",class:"form-label" %>
              <%= f.text_field :credit_card_expiration,class:"form-control",placeholder:"有効期限" %>
            </div>
            <div class="col-md-3">
              <%= f.label :cvv,"CVV",class:"form-label" %>
              <%= f.text_field :cvv,class:"form-control",placeholder:"CVV" %>
            </div>
          </div>
          <hr class="my-4">
          <% if @items.exists? %>
            <%= f.submit"購入する",class:"w-100 btn btn-primary btn-lg mb-5" %>
          <% else %>
            <%= f.submit"購入する",class:"w-100 btn btn-primary btn-lg mb-5 disabled" %>
          <% end %>
          
        <% end %>
      </div>
    </div>
  </main>
</div>
